{% extends "blog/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        <a href="{% url 'blog:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'blog:login' %}">Login here</a>
    {% endif %}

    <div class="large-10 columns callout">
        {% for post in all_posts %}

        <article>
            <h3><a href="{% url 'blog:edit' id=post.id %}">{{post.title}}</a></h3>
            <p>{{post.content}}</p>
            <footer>
                <em>Posted: {{post.created_at}}</em>
            </footer>
        </article>


        {# no horizontal line after last post #}
        {% if not forloop.last %}<hr>{% endif %}

        {% endfor %}

    </div>

    <div class="large-2 columns">
        <nav>
            <a href="{% url 'blog:add' %}" class="small button round">Create Post</a>
        </nav>
    </div>


{% endblock content %}
